<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PeriplusAutomationSuite">
    <test name="Shopping Cart Test">
        <classes>
            <class name="com.testing.periplus.CartFromEmptyTest"/>
            <class name="com.testing.periplus.CartWithOneProductTest"/>
            <class name="com.testing.periplus.CartCheckoutTest"/>
        </classes>
    </test>
</suite>